<!DOCTYPE>
<html lang="en">
<head>
  <title>Reminder, your deadline will be over soon</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #F5F5F5; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
  <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <p style="color: #333333;text-align: center;"><strong>Dear, </strong></p>
    <p style="color: #333333;text-align: center;"><strong>This is a reminder that your task "<%= @task.title %>" is due soon..</strong></p>
    <p style="color: #333333;text-align: center;"><strong>Deadline: <%= @task.deadline %>.</strong></p>
    <p style="color: #333333;text-align: center;"><strong>Your Team</strong></p>
    
  </div>
</body>
</html>